<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'home.title' | trans }}</a>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("ROLE_USER") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('event_index') }}">{{'look_event'|trans}}</a></li>
                            {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('event_add') }}">{{'add_event'|trans}}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("ROLE_USER") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event_rss') }}">{{'RSS'|trans}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('appelTheme') }}">{{'Themes'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}">{{ 'my_profile' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">{{'logout'|trans}}</a>
                    </li>
                    <li class=""dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-globe"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('event_index',{'_locale':'fr'}) }}">Français</a></li>
                        <li><a href="{{ path('event_index',{'_locale':'en'}) }}">English</a></li>
                    </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> {{ 'sign_up'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'login'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/'~app.request.session.get('theme')~'.css') }}">
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}
