{% extends 'base.html.twig' %}

{% block body %}
    <div class=" container">
    {{ wo_render_breadcrumbs() }}

        <h1>{{'event.vizualize'|trans}}</h1>

        <table class="table ">
            <tbody>
            <tr>
                 <th>Id</th>
                 <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>{{'event.titre'|trans}}</th>
                <td>{{ event.titre }}</td>
            </tr>
            <tr>
                <th>{{'event.description'|trans}}</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>{{'event.lieu'|trans}}</th>
                <td>{{ event.lieu }}</td>
            </tr>
            <tr>
                <th>{{'event.categorie'|trans}}</th>
                <td>{{ event.categorie }}</td>
            </tr>
            <tr>
                <th>{{'event.nbPlacesDispo'|trans}}</th>
                <td>{{ event.nbPlacesDispo }}</td>
            </tr>
            </tbody>
        </table>
{% endblock %}