{% extends 'base.html.twig' %}


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/'~app.request.session.get('theme')~'.css') }}">
    {% endblock %}

{%block body%}

    <h3>{{'Selectionner votre theme'|trans}}</h3>
    <div class="well">
     {{ form(form) }}
    </div>

{%endblock%}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}

