{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/'~app.request.session.get('theme')~'.css') }}">
{% endblock %}

 {%block body%}
 <div class="container">
    		<div class="row">
    			<h3>{{ 'event.listeDesEvenements'|trans}} </h3>
    		</div>
			{% for e in Event %}
			<div class="row">
				<div class="col-lg-8">
					<div class="list-group">
						<a href="{{ path('event_show',{'id': e.id})}}" class="list-group-item list-group-item-action flex-column align-items-start active">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">{{e.titre}}</h5>
							</div>
							<p class = "mb-1"> {{e.titre}} à {{e.lieu}}, {{e.nbInscrits}} place(s) totales pour cet évènement. </p>
							<small> {{e.nbPlacesDispo}} place(s) restante(s) .</small>
						</a>
					</div>
  				</div>
  			</div>
  			{%endfor%}
  			<div class="row">
	            <div class="text-center">
              	</div>
	       </div>

 {%endblock%}

